[MASTER]
disable=
    missing-module-docstring,
    not-callable,
    invalid-name,
    missing-function-docstring,
    missing-class-docstring,
    global-statement

[TYPECHECK]
generated-members=
    torch.*

[FORMAT]
max-line-length=240